h1 {
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    color: aquamarine;
    font-size: 16px;

}

h2 {
    font-weight: 300;
    font-size: 42px;
    color: white;
}

article {
    font-size: 21px;
    color: gray;
}

aside {
    text-align: right;
    color: gray;
}